/* General CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* Header */

.header {
    min-height: 100px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -4px 17px #000;
}

.header_logo img {
    height: 90px;
    width: 90px;
}

.header_navigation ul {
    display: flex;
    justify-content: space-between;
}

.header_navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 100px;
    color: #292929;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.26px;
    margin: 0 24px;
    padding: 10px 0;
}

.header_navigation ul li a:hover {
    color: #0ab0a6;
    border-top: 2px solid #0ab0a6;
}

.header_item {
    line-height: 100px;
}

.header_item .icon {
    padding: 0 14px;
}

/* Content */
.content {
    margin-top: 20px;
}

/* Content intro */
.content_intro {
    display: flex;
}

.content_intro_img {
    flex: 50%;
}

.content_intro_img img {
    width: 100%;
    background-size: contain;
}

.content_intro_short {
    flex: 50%;
    margin-left: 100px;
}

.content_intro_short .content_intro_short_topic {
    margin-top: 50px;
}

.content_intro_short .content_intro_short_topic p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.content_intro_short .content_intro_short_title {
    margin-top: 20px;
}

.content_intro_short .content_intro_short_title {
    text-transform: uppercase;
    font-size: 59px;
}

.content_intro_short .content_intro_short_description {
    margin-top: 10px;
    max-width: 490px;
}

.content_intro_short .content_intro_short_description p {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 22px;
}

.content_intro_short .content_intro_short_btn {
    margin-top: 20px;
}

.content_intro_short .content_intro_short_btn button {
    background-color: #0ab0a6;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 16px 50px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.content_intro_short .content_intro_short_btn button:hover {
    color: #0ab0a6;
    border: 1px solid #0ab0a6;
    background-color: #fff;
}

/* Content about */
.content_about,
.content_shop {
    margin-top: 50px;
}

.content_about .content_about_title h1,
.content_shop .content_shop_title h1 {
    text-align: center;
    font-size: 48px;
    color: #292929;
}

.content_about .content_about_description {
    margin-top: 50px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.content_about .content_about_description_left {
    flex: 40%;
}

.content_about .content_about_description_left img {
    width: 520px;
    height: 520px;
    border-radius: 0 50px 50px 0;
}

.content_about .content_about_description_right {
    flex: 40%;
    margin-top: 50px;
}

.content_about .content_about_description_right p {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
    color: #616161;
}

.content_about .content_about_description_right h2 {
    margin-bottom: 10px;
    color: #292929;
}

.content_about .content_about_description_right button {
    margin-top: 50px;
    padding: 17px 40px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #0ab0a6;
    border: none;
    cursor: pointer;
}

.content_about .content_about_description_right button:hover {
    color: #0ab0a6;
    background-color: #fff;
    border: 1px solid #0ab0a6;
}

/* content shop */
.content_shop {
    margin-left: 200px;
    margin-right: 200px;
}

.content_shop .content_shop_tag {
    margin-top: 50px;
}

.content_shop .content_shop_tag ul {
    display: flex;
}

.content_shop .content_shop_tag ul li {
    padding: 10px 20px;
    border: 1px solid #0ab0a6;
    margin-right: 20px;
    cursor: pointer;
}

.content_shop .content_shop_tag ul li:hover {
    background-color: #0ab0a6;
    border: #0ab0a6;
}

.content_shop .content_shop_tag ul li a {
    color: #0ab0a6;
    text-decoration: none;
    text-transform: uppercase;
}

.content_shop .content_shop_tag ul li:hover a {
    color: #fff;
}

.content_shop .content_shop_item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.content_shop .content_shop_item .item {
    /* flex: 30%; */
    padding-right: 40px;
    display: flex;
    flex-direction: column;

}

.content_shop .content_shop_item .item img {
    width: 300px;
    height: 200px;

}

/* .content_shop_item .item .item_status {} */

.content_shop_item .item .item_status span {
    padding: 2px 5px;
    border: 1px solid #0ab0a6;
    display: inline-block;
    border-radius: 5px;
    background-color: #0ab0a6;
    color: #fff;

}

.content_shop_item .item .item_infor {
    text-align: center;
    margin-top: 20px;
}

.content_shop_item .item .item_infor .item_infor_name a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.content_shop_item .item .item_infor .item_infor_name a:hover {
    color: #0ab0a6;
}

.content_shop_item .item .item_infor .item_infor_cost p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: rgba(41, 41, 41, 0.8);
}

.content .content_img {
    margin-top: 50px;
    height: 730px;
}

.content .content_img img {
    height: 100%;
}



/* Footer */